
.App {
    /*padding-left: 15px;*/
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #a5c6d5;
    height: 10em;
    padding: 20px;
    color: rgba(251, 244, 255, 0);
}

.App-title {
    font-size: 5.5em;
}

.App-intro {
    font-size: large;
}

.contentContainer {
    margin: 10px;
    padding: 10px;
}

h1 {
    font-family: 'Raleway', sans-serif;
    color: white;
}

h2 {
    font-family: 'Raleway', sans-serif;
    color: #00b5cb;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    color: #0d1058;
}

section {
    padding-bottom: 1em;
}

p {
    color: #222222;
    font-family: 'Raleway', sans-serif;
}

.experience > p {
    padding-left: 1em;
}

a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

.avatar {
    padding: 1em;
    height: 15em;
    border-radius: 50%;
}

.appNav {
    position: fixed;
    padding: .5em;
    height: 2.5em;
    width: 100%;
    background-color: rgba(255, 254, 253, 0.88);
    display: flex;
    justify-content: space-between;
    transition: all 0.5s ease-in;
    flex-wrap: wrap;
}

.navRight {
    color: #405e49;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 1.5em;
}

.navRight > a:hover {
    color: #adffc7;
    transition: .5s ease;
}

.navRight > a {
    padding-right: 1em;
    flex-direction: row;
    justify-content: flex-end;
}

.navTitle {
    color: #ff3b62;
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
    margin: 0;
    white-space: nowrap;
}


.appFooter {
    height: 150px;
    background-color: #a6c6cc;
    display: flex;
    justify-content: space-between;
}

.footerLink {
    text-decoration: none;
    padding: 1em;
    font-size: 3em;
}

.footerLink > a:hover {
    color: #96559a;
    transition: .25s ease;
}

.about {
    display: flex;
    flex-wrap: wrap;
}

.about > p {
    max-width: 25em;
}

.skillsSection > ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

.skillsSection > ul > li {
    padding: .5em;
}

.skillsSection > ul > li:hover {
    background-color: rgba(0, 196, 93, 0.78);
    transition: 1s ease;
}

.projectSection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.colorCard {
    margin: 1em;
    padding: 1em;
    width: 20em;
    height: 15em;
    background-color: #ff6d78;
    color: white;
}

.colorCard:hover {
    position: relative;
    top: -.05em;
    left: -.01em;
    box-shadow: 5px 5px 5px #969696;
}

.colorCard > h3 {
    text-align: center;
}

.cardIcons {
    text-align: center;
    justify-content: center;
    font-size: 2.5em;
}

.colorCard > p {
    color: white;
}

/*@keyframes App-logo-spin {*/
/*from {*/
/*transform: rotate(0deg);*/
/*}*/
/*to {*/
/*transform: rotate(360deg);*/
/*}*/
/*}*/
